<title>{{name}}の検索結果|Yoppy Inc.</title><script>function search(){window.location.href=document.forms[0].elements[0].value;}</script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="../../">Yoppy Inc.</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="../../">ホーム<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#"></a>
      </li>
    </ul>買いたいものを
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="買いたいものを入力" aria-label="Search">
      <a class="btn btn-outline-success my-2 my-sm-0" href="javascript:search()">探す</a>
    </form>
  </div></nav>
<h1><center>{{ name }}の検索結果</center></h1>
{% if name %}
<p class="text-center font-weight-bold h4">{{posts.count}}件</p>
{% endif%}
{% for a in html %}
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="../../date/{{a.pk}}">{{a}}</a><h2>{{a.money}}円</h2>
</nav>
{% endfor %}